body {
    background-color: aliceblue;
    box-sizing: border-box;

}

main {
    max-width: 800px;
    /* height: 100vh; */
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 8px;
}

h2 {
    background-color: #ccc;
}

.pagination {
    padding: 20px;
}

button {
    background-color: #ccc;
    padding: 5px;
    cursor: pointer;
}